/**
 * Hengyi Li
 */
body
{
  font-family: sans-serif, monospace, serif;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(1fr, 2);
}

.header_topic_left
{
    grid-column: 0/2;
    grid-row: 0/1;
}
.header_topic
{
  font-family: sans-serif, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.chatty_talking
{
  font-family: fantasy, cursive;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

p
{
  font-family: sans-serif, serif;
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.selection_to_delete_style
{
  font-family: sans-serif, serif;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
}

.sub-title
{
  font-family: cursive, serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#add_word
{
  border: 4px solid black;
  padding: 15px;
  margin: 5px;
  grid-column: 2/2;
  grid-row: 1/1;
}

#del_word
{
  border: 4px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
  grid-column: 1/2;
  grid-row: 2/2;
}

.waste_time_talking_right
{
    grid-column: 2/2;
    grid-row: 2/2;
}

.delete_section_limit_window
{
  height: 400px;

  overflow-y: scroll;
}
