.body_global_style
{
  font-family:'Times New Roman', Times, serif;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position:  right;
  background-size: 100% 100%;
  background-color:steelblue;
}

#title
{
  font-size:30px;
  font-style:normal;
  font-weight:bold;
  text-align:center;
}

.welcome_prompt
{
  font-size: 16px;
  font-style: oblique;
  font-weight:bold;
  text-align:center;
}

.paragraph
{
  font-size: 14px;
  font-style: italic;
  font-weight:normal;
  text-align:center;
}
.unordered_list
{
  list-style-type: lower-greek;
}

.ordered_list
{
  list-style-type:armenian;
}

.table_content_global_rule
{
  text-align: center;
  border-collapse: collapse;
}

.caption_borders
{
  border-collapse: collapse;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

tr
{
  border: 2px solid black;
}

td
{
  border: 2px solid black;
}
