.body_global_style {
  font-family: sans-serif, monospace, serif;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  background-color: #99a4bc;
}

#title {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.welcome_prompt {
  font-family: cursive, fantasy;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.product_talking {
  font-family: cursive, fantasy;
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.product_price {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}

.unordered_list {
  list-style-type: lower-greek;
}

.ordered_list {
  list-style-type: armenian;
}

.table_content_global_rule {
  text-align: center;
  border-collapse: collapse;
}

.table_caption {
  background-color: #99a4bc;
}

.caption_borders {
  background-color: #99a4bc;
  border-collapse: collapse;
  border-top: 2px solid #5b5c54;
  border-left: 2px solid #5b5c54;
  border-right: 2px solid #5b5c54;
}

tr {
  border: 2px solid #5b5c54;
}

tr:hover {
  background-color: #99a4bc;
}

td {
  border: 2px solid #5b5c54;
}
