.body_global_style
{
  font-family:'Times New Roman', Times, serif;
  background-image: url(..//images/background.jpg);
  background-repeat: no-repeat;
  background-position:  right;
  background-size: 100% 100%;
  background-color:steelblue;
}

#title
{
  font-size:30px;
  font-style:normal;
  font-weight:bold;
  text-align:center;
}

.welcome_prompt
{
  font-size: 16px;
  font-style: oblique;
  font-weight:bold;
  text-align:center;
}

.unordered_list
{
  list-style-type: lower-greek;
}

.ordered_list
{
  list-style-type:armenian;
}

.table_content_global_rule
{
  text-align: center;
  border-collapse: collapse;
}

tr,td
{
  border: 2px solid black;
}

tr:nth-child(odd)
{
  background-color: whitesmoke;
}

tr:nth-child(even)
{
  background-color: gainsboro;
}
